* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header_container {
    width: 100vw;
    height: 65px;
    background-color: #041E41;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}

.image_container img {
    width: 150px;
    height: 50px;
    object-fit: cover;
}

.btn {
    text-decoration: none;
    /* Removes underline from the link */
    background-color: #E15197;
    color: white;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.logo:hover {
    cursor: pointer;
}

.btn:hover {
    background-color: #9e1238;
}
.main_body_container {
    position: relative;
    max-width: 100vw;
    height: 600px;
    overflow: hidden;
   
  }
  
  
  .slides {
    display: flex;
    width: 900%; /* Since there are 9 images */
    animation: slide 18s infinite;
  }
  
  .slide {
    width: 100vw;
    height: 600px;
    object-fit: cover; /* Adjusts the image to fill the container while maintaining aspect ratio */
  }
  
  @keyframes slide {
    0% { transform: translateX(0); }
    11% { transform: translateX(0); }
    22% { transform: translateX(-100vw); }
    33% { transform: translateX(-100vw); }
    44% { transform: translateX(-200vw); }
    55% { transform: translateX(-200vw); }
    66% { transform: translateX(-300vw); }
    77% { transform: translateX(-300vw); }
    88% { transform: translateX(-400vw); }
    100% { transform: translateX(-400vw); }
  }

  .blur_effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    background: rgba(114, 113, 113, 0.253); /* Semi-transparent white background */
    backdrop-filter: blur(2px); /* Applies blur effect */
    z-index: 1; /* Ensures it's in front of the images */
  }
  
  /* Text overlay */
  .text_overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centers text */
    color: rgb(255, 255, 255);
    
    font-weight: bolder;
    text-align: center;
    z-index: 2; /* Ensures it's above the blur effect */
    padding: 0 20px; /* Adds some padding for better readability */
  }
  /* .title_{
    background-color: rgba(106, 124, 150, 0.7);
    border-radius: 15px;
  } */
